* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: black;
  color: #fff;
  /* min-height: 3000px; */
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 3%;
  background-color: rgb(4, 42, 148);
  border-bottom: 1px solid white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-family: signika;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #000;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: black;
}

#hamburger-menu {
  display: none;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/bengkel.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60%;
}

.hero .content h1 {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 0.8;
}

.hero .content p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: indigo;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* about section */
.about,
.contact {
  padding: 6rem 7% 1.4rem;
}

.about h2,
.contact h2 {
  text-align: center;
  font-size: 2.3rem;
}

.about p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.about .row .barang-kami {
  text-align: center;
  padding-bottom: 1.5rem;
}

.about .row .barang-kami img {
  border-radius: 50%;
  width: 80%;
}

.about .row .barang-kami .barang-kami-title {
  margin-top: 0.2rem;
}

.about .row .barang-kami h3 {
  color: white;
}

/* contact */
.contact .row {
  display: inline-flex;
  width: 30%;
  margin-top: 1rem;
  background-color: #222;
  flex-wrap: wrap;
}

.contact .row .map {
  width: 50%;
  /* height: 50%; */
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  flex: 1 1 100rem;
  width: 50%;
  object-fit: cover;
}

/* footer */
footer {
  background-color: indigo;
  text-align: center;
  padding: 1rem 0 1rem;
  margin-top: 23.3rem;
}

footer .sosials {
  padding: 0.4rem 0;
}

footer .sosials a {
  color: white;
  margin: 1rem;
}

footer .sosials a:hover,
footer .links a:hover {
  color: black;
}

footer .links a {
  color: white;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: black;
  font-weight: bold;
}

/* media */
/* leptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
    border-bottom: 0.1rem solid black;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }
}

/* henpone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
